<h1>grafica de barras</h1>
<hr>
<div class="row">
    <div class="col">
        <div style="display: block">
            <canvas baseChart [data]="barChartData" [options]="barChartOptions"  [type]="barChartType"
              (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
          </div>
          
          <button (click)="randomize()" class="btn btn-primary float-end">Update</button>
          <!--<button onclick="window.print()">Print this page</button> -->

    </div>
</div>

